<h1 mat-dialog-title>Edit Task</h1>
<div mat-dialog-content>
    <form [formGroup]="taskForm">
        <mat-form-field class="full-width">
            <mat-label>Task</mat-label>
            <input matInput formControlName="task_name"  required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Due Date</mat-label>
            <input matInput formControlName="due_date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" required>
                <mat-option value="None">None</mat-option>
                <mat-option value="Low">Low</mat-option>
                <mat-option value="Medium">Medium</mat-option>
                <mat-option value="High">High</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
</div>